.legend_u
  = render partial: 'edit_link', object: @<%= singular_table_name %>
  #{@<%= singular_table_name %>.<%= attributes.first.name %>}

= show_entry @<%= singular_table_name %> do |e|
<% for attribute in attributes -%>
  = e.field :<%= attribute.name %>
<% end -%>

= link_to 'Back', <%= index_helper %>_path
